<div class="add-todo-form texty-center">
  <h1>Add Todos</h1>
  <div class="form-group">
    <input class="form-control input-lg" placeholder="Add todos...." autofocus #todoText/>
    <br/>
    <button class="btn btn-primary btn-block" (click)="addTodo($event, todoText)">Create</button>
  </div>
</div>
<div class="todo-list">
  <div class="alert alert-info text-center" [hidden]="todos.length > 0">
    <h3>No Todos</h3>
  </div>
  <div class="row" *ngFor="let todo of
   todos">
    <div class="col-md-1">
      <input type="checkbox" />
    </div>
    <div class="col-md-7">
      {{todo.fname}}
    </div>
    <div class="col-md-4 btns">
      <input type="button" (click)="deleteto(todo)" class="btn btn-danger pull-right" value="Delete" /> &nbsp;&nbsp;&nbsp;
      <input type="button" class="btn btn-success pull-right" value="Edit" (click)="updatetodo(todo)" />
    </div>
    <br/> <br/> 
  </div>
</div>